<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@.${revisionNumber}</version>
	<package>@MODULE_PACKAGE@</package>
	<author>${project.parent.organization.name}</author>
	<description>${project.parent.description}</description>

	<activator>@MODULE_PACKAGE@.CommonReportsActivator</activator>

	<require_version>${openmrsPlatformVersion}</require_version>

	<require_modules>
		<require_module version="${reportingVersion}">
			org.openmrs.module.reporting
		</require_module>
		<require_module version="${initializerVersion}">
			org.openmrs.module.initializer
		</require_module>
		<require_module version="${patientsummaryVersion}">
			org.openmrs.module.patientsummary
		</require_module>
	</require_modules>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

	<globalProperty>
		<property>@MODULE_ID@.phoneNumberUuid</property>
		<defaultValue>c3bcd296-eb82-4451-a4b4-eedd1d5f322f</defaultValue>
		<description>
			The UUID of the phone number that would be used by Common Reports reports
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.2ndPhoneNumberUuid</property>
		<defaultValue>1102f74e-ea2f-461e-b67f-db58bd136e5c</defaultValue>
		<description>
			The UUID of the 2nd phone number that would be used by Common Reports
			reports
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>@MODULE_ID@.enableHeader</property>
		<defaultValue>true</defaultValue>
		<description>
			Show header on patient history reports
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.brandingLogo</property>
		<defaultValue>web/module/resources/OpenMRS_logo.png</defaultValue>
		<description>
			Logo image used to brand patient history reports
		</description>
	</globalProperty>

	<!-- Required Privileges -->
	<privilege>
		<name>App: Can View Patient History Report</name>
		<description>Allows user to access the patient history report.</description>
	</privilege>
	<!-- /Required Privileges -->

	<!-- Conditional Resources -->
	
	<!-- /Conditional Resources -->

</module>

